DATABASE_URL="EXAMPLE"
DIRECT_URL="EXAMPLE"


NEXTAUTH_SECRET="EXAMPLE"
AUTH_RATE_LIMIT_SECRET="EXAMPLE"
INSTITUTO_ENERGISA_ACCESS_KEY="EXAMPLE"
HDL_ACCESS_KEY="EXAMPLE"

NEXT_PUBLIC_SUPABASE_URL="EXAMPLE"
NEXT_PUBLIC_SUPABASE_ANON_KEY="EXAMPLE"
NEXTAUTH_URL="http://localhost:XXXX"
