DATABASE_URL="EXAMPLE"
DIRECT_URL="EXAMPLE"


NEXTAUTH_SECRET="EXAMPLE"

NEXT_PUBLIC_SUPABASE_URL="https://svdcvbqpcwbdjtngzeyi.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN2ZGN2YnFwY3diZGp0bmd6ZXlpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3MzQwNjgsImV4cCI6MjA4ODMxMDA2OH0.M4R1UR55-HwQbU7SDqHVW1hJwg9ZDTSY0qAQLMLNZQg"
NEXTAUTH_URL="http://localhost:XXXX"